@import "../../node_modules/purecss/build/base-min.css";
@import "../../node_modules/purecss/build/grids-min.css";
@import "../../node_modules/purecss/build/grids-responsive-min.css";
@import "../../node_modules/purecss/build/base-min.css";
#mobile-sidebar-links {
  margin: -20px 0 20px 0;
}
button#campaign-expand {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #a18552;
}
button#campaign-expand:active,
button#campaign-expand:hover,
button#campaign-expand:focus {
  outline: none;
}
@media (max-width: 599px) {
  button#campaign-expand {
    -webkit-transform: translate(-95px, -5px);
    -moz-transform: translate(-95px, -5px);
    -ms-transform: translate(-95px, -5px);
    -o-transform: translate(-95px, -5px);
    transform: translate(-95px, -5px);
    background-color: #1b1b1b;
  }
  .activeMenu button#campaign-expand {
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
}
@media (min-width: 600px) {
  button#campaign-expand {
    -webkit-transform: translate(-110px, 10px);
    -moz-transform: translate(-110px, 10px);
    -ms-transform: translate(-110px, 10px);
    -o-transform: translate(-110px, 10px);
    transform: translate(-110px, 10px);
  }
}
#ham {
  width: 25px;
  height: 25px;
  position: relative;
  float: left;
  display: inline-block;
  margin: 7px 0 -2px 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#ham span {
  display: inline;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #85754d;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
#ham span:nth-child(1) {
  top: 0px;
}
#ham span:nth-child(2),
#ham span:nth-child(3) {
  top: 7px;
}
#ham span:nth-child(4) {
  top: 14px;
}
.activeMenu #ham span:nth-child(1) {
  top: 7px;
  width: 0%;
  left: 50%;
}
.activeMenu #ham span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.activeMenu #ham span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.activeMenu #ham span:nth-child(4) {
  top: 7px;
  width: 0%;
  left: 50%;
}
h1,
h2,
h3,
h4 {
  font-family: "brothers";
  color: #a18552;
}
p {
  color: #b1b1b1;
}
body {
  background-color: #1b1b1b;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: right center;
}
@media (max-width: 599px) {
  body {
    background-image: url(../img/opener-desktop-mobile.jpg);
  }
}
@media (min-width: 600px) {
  body {
    background-image: url(../img/opener-desktop.jpg);
  }
}
body,
html {
  height: 100%;
}
@keyframes intro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  position: absolute;
  height: 100vh;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: black;
  z-index: 10;
  -webkit-animation: intro 2s 0.2s 1 linear forwards;
  -moz-animation: intro 2s 0.2s 1 linear forwards;
  -o-animation: intro 2s 0.2s 1 linear forwards;
  animation: intro 2s 0.2s 1 linear forwards;
  pointer-events: none;
}
.loader svg {
  min-width: 300px;
  height: auto;
  margin-bottom: 60px;
}
.sidebarMenu {
  min-width: 260px;
  position: fixed;
  padding: 20px 40px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: #2d2d2d;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.activeMenu .sidebarMenu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media (max-width: 599px) {
  .sidebarMenu {
    width: 100%;
    box-sizing: border-box;
    overflow: visible;
  }
  .sidebarMenu .numbers .pure-g {
    padding: 0;
  }
}
@media (min-width: 600px) {
  .sidebarMenu {
    width: 20%;
  }
}
.xMark {
  font-family: "brothers";
  color: #a18552;
  position: relative;
}
.xMark:before,
.xMark:after {
  content: '';
  display: block;
  width: 1px;
  height: 15px;
  background-color: white;
  position: absolute;
  top: 59%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  right: 14px;
}
.xMark:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.xMark:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.signOut {
  font-size: 13px;
  color: #b1b1b1;
  padding-top: 30px;
}
.signOut p {
  display: inline-block;
  padding: 10px;
  border-radius: 2px;
  opacity: .6;
  background: #191919;
  cursor: pointer;
}
@keyframes bgtrans {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(27, 27, 27, 0);
  }
}
.App.activeColor tbody tr:nth-child(1) {
  -webkit-animation: bgtrans 0.3s 0s 1 ease-in-out forwards;
  -moz-animation: bgtrans 0.3s 0s 1 ease-in-out forwards;
  -o-animation: bgtrans 0.3s 0s 1 ease-in-out forwards;
  animation: bgtrans 0.3s 0s 1 ease-in-out forwards;
}
.App.activeColor tbody tr:nth-child(2) {
  -webkit-animation: bgtrans 0.3s 0.1s 1 ease-in-out forwards;
  -moz-animation: bgtrans 0.3s 0.1s 1 ease-in-out forwards;
  -o-animation: bgtrans 0.3s 0.1s 1 ease-in-out forwards;
  animation: bgtrans 0.3s 0.1s 1 ease-in-out forwards;
}
.App.activeColor tbody tr:nth-child(3) {
  -webkit-animation: bgtrans 0.3s 0.2s 1 ease-in-out forwards;
  -moz-animation: bgtrans 0.3s 0.2s 1 ease-in-out forwards;
  -o-animation: bgtrans 0.3s 0.2s 1 ease-in-out forwards;
  animation: bgtrans 0.3s 0.2s 1 ease-in-out forwards;
}
.App.activeColor tbody tr:nth-child(4) {
  -webkit-animation: bgtrans 0.3s 0.3s 1 ease-in-out forwards;
  -moz-animation: bgtrans 0.3s 0.3s 1 ease-in-out forwards;
  -o-animation: bgtrans 0.3s 0.3s 1 ease-in-out forwards;
  animation: bgtrans 0.3s 0.3s 1 ease-in-out forwards;
}
.activeMenu > .A {
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  transform: translateX(-30px);
}
.A {
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear,-moz-transform 0.2s linear,-o-transform 0.2s linear,transform 0.2s linear;
}
.A thead > tr > th:first-child {
  font-family: "brothers" !important;
  color: #a18552 !important;
  text-transform: uppercase;
}
.A thead > tr th {
  font-family: "brothers" !important;
  color: #a18552 !important;
}
.A h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
  position: relative;
}
.A h2:before,
.A h2:after {
  content: '';
  display: block;
  width: 10%;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 1px;
  -webkit-transform: translate(50%);
  -moz-transform: translate(50%);
  -ms-transform: translate(50%);
  -o-transform: translate(50%);
  transform: translate(50%);
  right: 50%;
}
.A h2:after {
  top: auto;
  bottom: -1px;
}
@media (max-width: 599px) {
  .A tbody tr td:first-child {
    overflow: visible !important;
  }
  .A thead > tr > th:first-child {
    white-space: normal !important;
    line-height: 1.1 !important;
  }
}
@media (min-width: 600px) {
  .A {
    padding: 10px 80px 50px 80px;
  }
  .A thead > tr > th:first-child {
    font-size: 20px !important;
  }
  .A h2 {
    font-size: 4em;
  }
}
.cycleSelect > div {
  margin: 0 auto  10px auto;
}
@media (max-width: 599px) {
  .cycleSelect {
    padding: 0 20px;
  }
}
@media (min-width: 600px) {
  .cycleSelect {
    margin: 0 auto  40px auto;
  }
}
.modal {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-height: 180px;
  padding: 20px 40px;
  border: 1px solid #a18552;
  outline: 20px solid black;
  background-color: #010101;
  top: 50%;
  bottom: 50%;
  text-align: center;
  opacity: 0;
  z-index: 0;
  width: 250px;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.modal p {
  font-size: 13px;
  margin: 0 0 -10px;
}
.modal a {
  font-family: "brothers";
  color: #a18552;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  outline: none;
}
.modal a:before,
.modal a:after {
  display: none !important;
}
.modal a:active,
.modal a:focus,
.modal a:hover {
  color: white;
}
.active .modal {
  opacity: 1;
  z-index: 1;
}
.login {
  position: relative;
  height: 100vh;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.login svg {
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.login svg g g {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.grow .login svg g:nth-child(3) g:nth-child(1) {
  -webkit-transform: translate(25%, -25%);
  -moz-transform: translate(25%, -25%);
  -ms-transform: translate(25%, -25%);
  -o-transform: translate(25%, -25%);
  transform: translate(25%, -25%);
}
.grow .login svg g:nth-child(3) g:nth-child(2) {
  -webkit-transform: translate(-25%, -25%);
  -moz-transform: translate(-25%, -25%);
  -ms-transform: translate(-25%, -25%);
  -o-transform: translate(-25%, -25%);
  transform: translate(-25%, -25%);
}
.grow .login svg g:nth-child(3) g:nth-child(3) {
  -webkit-transform: translate(25%, 25%);
  -moz-transform: translate(25%, 25%);
  -ms-transform: translate(25%, 25%);
  -o-transform: translate(25%, 25%);
  transform: translate(25%, 25%);
}
.grow .login svg g:nth-child(3) g:nth-child(4) {
  -webkit-transform: translate(-25%, 25%);
  -moz-transform: translate(-25%, 25%);
  -ms-transform: translate(-25%, 25%);
  -o-transform: translate(-25%, 25%);
  transform: translate(-25%, 25%);
}
.login a {
  font-family: "brothers";
  color: #a18552;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin: 20px 0 0;
  font-size: 20px;
  padding: 4px 0;
  cursor: pointer;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.login a:hover,
.login a:active,
.login a:focus {
  color: white;
}
.login a:before,
.login a:after {
  content: '';
  display: block;
  width: 25px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 1px;
  -webkit-transform: translate(50%);
  -moz-transform: translate(50%);
  -ms-transform: translate(50%);
  -o-transform: translate(50%);
  transform: translate(50%);
  right: 50%;
}
.login a:after {
  top: auto;
  bottom: -1px;
}
.login:before {
  pointer-events: none;
  border: 1px solid #a18552;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 1;
  position: absolute;
  content: '';
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}
.login svg {
  min-width: 300px;
  height: auto;
}
.modalFade .login > svg,
.modalFade .login > a {
  opacity: 0;
}
@media (max-width: 599px) {
  .login svg {
    min-width: 180px;
    min-width: 300px;
    width: 200px;
    min-height: 120px;
  }
}
